/* 弹窗遮罩 */
.vp-popup-mask {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; /* 比 nav 高即可 */
}

/* 弹窗卡片 */
.vp-popup-card {
  position: relative;
  max-width: 480px;
  width: 90%;
  background: #fff;
  border-radius: 16px;
  padding: 24px 24px 64px;  /* 底部再多留一些空间 */
  box-shadow: 0 18px 45px rgba(0, 0, 0, 0.22);
  box-sizing: border-box;
}

.vp-popup-action {
  position: absolute;
  right: 24px;   
  bottom: 20px; 
  display: inline-block;
  padding: 8px 18px;
  border-radius: 999px;
  font-size: 14px;
  text-decoration: none;
  background: #485dc9;
  color: #fff;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

/* 关闭按钮 */
.vp-popup-close {
  position: absolute;
  top: 10px;
  right: 12px;
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
  line-height: 1;
}

/* 标题与文字 */
.vp-popup-title {
  margin: 0 0 6px;
  font-size: 22px;
}

.vp-popup-sub {
  margin: 0 0 14px;
  font-size: 14px;
  color: #666;
}

.vp-popup-list {
  margin: 0 0 18px;
  padding-left: 18px;
  font-size: 14px;
  color: #444;
}



.vp-popup-action:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 20px rgba(7, 193, 96, 0.4);
}

.vp-popup-action:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 20px rgba(47, 41, 218, 0.4);
}

/* 顶栏活动按钮 */
.vp-event-btn {
  margin-left: 12px;
  padding: 4px 10px;
  font-size: 13px;
  border-radius: 999px;
  border: 1px solid rgba(148, 163, 184, 0.6);
  background: rgba(15, 23, 42, 0.02);
  cursor: pointer;
}

/* 简单的淡入动画 */
.vp-fade-enter-active,
.vp-fade-leave-active {
  transition: opacity 0.15s ease;
}
.vp-fade-enter-from,
.vp-fade-leave-to {
  opacity: 0;
}



/* 整个弹窗正文的基础样式 */
.vp-popup-body {
  font-size: 18px;      /* 正文基础字号 */
  line-height: 1.7;
  color: #333;
}

/* 标题：## 活动公告 */
.vp-popup-body h2 {
  margin-top: 10px;
  margin-bottom: 12px;
  font-size: 26px;      /* 比正文大一号 */
  font-weight: 700;     /* 更粗 */
}

/* 如果你有三级标题，暂时无*/
.vp-popup-body h3 {
  margin-top: 16px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
}

/* 段落、列表文字：比默认再大一点 */
.vp-popup-body p,
.vp-popup-body li {
  font-size: 16px;      /* 可以改 17/18 看感觉 */
  line-height: 1.8;
}

/* 列表项之间拉开一点距离 */
.vp-popup-body ul {
  padding-left: 1.4em;
  margin: 0 0 10px;
}

.vp-popup-body li + li {
  margin-top:6px;
}

/* Markdown 里的加粗：更显眼一点 */
.vp-popup-body strong {
  font-weight: 700;
}

/* Markdown 里的行内代码：优惠码更突出 */
.vp-popup-body code {
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 16px;
  background: #f3f4f6;
}
